[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 2.0
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "meta-datarespons"]
	path = meta-datarespons
	url = git@github.com:data-respons-solutions/meta-datarespons.git
[submodule "meta-bsp-common"]
	path = meta-bsp-common
	url = git@github.com:data-respons-solutions/meta-bsp-common.git
[submodule "meta-freescale"]
	path = meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
	branch = kirkstone
[submodule "build-tools"]
	path = build-tools
	url = git@github.com:data-respons-solutions/build-tools.git
[submodule "meta-test"]
	path = meta-test
	url = git@github.com:data-respons-solutions/meta-test.git
[submodule "meta-webkit"]
	path = meta-webkit
	url = https://github.com/Igalia/meta-webkit
	branch = master
