[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.50
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = hardknott
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = hardknott
[submodule "meta-datarespons"]
	path = meta-datarespons
	url = git@github.com:data-respons-solutions/meta-datarespons.git
[submodule "meta-bsp-common"]
	path = meta-bsp-common
	url = git@github.com:data-respons-solutions/meta-bsp-common.git
[submodule "meta-freescale"]
	path = meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
	branch = hardknott
[submodule "build-tools"]
	path = build-tools
	url = git@github.com:data-respons-solutions/build-tools.git
[submodule "meta-browser"]
	path = meta-browser
	url = https://github.com/OSSystems/meta-browser.git
	branch = master
[submodule "meta-python2"]
	path = meta-python2
	url = https://git.openembedded.org/meta-python2
	branch = hardknott
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = hardknott
[submodule "meta-test"]
	path = meta-test
	url = git@github.com:data-respons-solutions/meta-test.git
