[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 2.8
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = scarthgap
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "meta-bsp-common"]
	path = meta-bsp-common
	url = git@github.com:data-respons-solutions/meta-bsp-common.git
[submodule "meta-freescale"]
	path = meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
	branch = scarthgap
[submodule "build-tools"]
	path = build-tools
	url = git@github.com:data-respons-solutions/build-tools.git
[submodule "meta-test"]
	path = meta-test
	url = git@github.com:data-respons-solutions/meta-test.git
[submodule "meta-webkit"]
	path = meta-webkit
	url = https://github.com/Igalia/meta-webkit
	branch = main
[submodule "meta-arm"]
	path = meta-arm
	url = git://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "meta-akkodis"]
	path = meta-akkodis
	url = git@github.com:akkodis-edge/meta-akkodis.git
[submodule "meta-kf6"]
	path = meta-kf6
	url = https://invent.kde.org/packaging/yocto-meta-kf6.git
[submodule "meta-kde"]
	path = meta-kde
	url = https://invent.kde.org/packaging/yocto-meta-kde.git
[submodule "meta-qt6"]
	path = meta-qt6
	url = https://code.qt.io/yocto/meta-qt6.git
